<div class="layout-item layout-block"
     :style="layout.style"
     :item="!layout.children"

     @change="_doLayout"
>
    <page
            v-if="!layout.children"
            :name="layout.name"
    ></page>
    <template
            v-if="layout.children"
    >
        <template v-for="(child,index) in layout.children">
            <block
                    :layout="child"
            ></block>
            <split
                    v-if="index<layout.children.length-1"
                    :drag="layout.drag"
                    :index="index"
                    :direction="layout.style['flex-direction'] || 'row'"
            ></split>
        </template>
    </template>
</div>